

<div class="t-movie-section">
    @foreach (var item in Model)
    {
        <a class="t-movie" href="#">

            <img src="@Url.Content("./images/medias/" + @item.MediaImagePath)" alt="@item.MediaName">

            <div class="t-movie-content">
                <div class="t-movie-title">@item.MediaName</div>
                <div class="t-movie-info">
                    <div>
                        <i class="bx bxs-star"></i>
                        <span>9.5</span>
                    </div>
                    <div>
                        <i class="bx bxs-time"></i>
                        <span>@item.MediaDuration</span>
                    </div>
                    <div>
                        <span>@item.MediaQuality</span>
                    </div>
                    <div>
                        <span>@item.MediaAgeRating</span>
                    </div>
                </div>
            </div>

        </a>
    }
</div>