@{
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/css/genre.css"  rel="stylesheet" />
    <link href="~/css/grid.css" rel="stylesheet">
    <link href="~/css/app.css" rel="stylesheet">
}
@model IEnumerable<Web_BTL.Models.Medias.MediaModel>
<!-- NAV -->
<partial name="Layouts/TopNav" />
<!-- END NAV -->

<div class="t-body">
    <div class="t-header-and-movie-section">
        <div class="t-header-section">
            <div class="t-header-label">
                MỚI CẬP NHẬT
            </div>
            <div class="t-menu">
                <a href="#">Tất cả</a>
                <a href="#">Hành động</a>
                <a href="#">Viễn tưởng</a>
                <a href="#">Phim bộ</a>
                <a href="#">Phim lẻ</a>
            </div>
        </div>

        <div class="t-movie-section">
                @foreach (var item in Model)
                {
                    <div class="t-movie">

                        <img src="@item.MediaImagePath" alt="@item.MediaName">

                        <div class="t-movie-content">
                            <div class="t-movie-title">@item.MediaName</div>
                            <div class="t-movie-info">
                                <div>
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div>
                                    <i class="bx bxs-time"></i>
                                    <span>@item.MediaDuration</span>
                                </div>
                                <div>
                                    <span>@item.MediaQuality</span>
                                </div>
                                <div>
                                    <span>@item.MediaAgeRating</span>
                                </div>
                            </div>
                        </div>

                    </div>
                }
         </div>

            
         <div>
                <a href="#" class="t-btn-more">Xem Thêm...</a>
        </div>
    </div>
</div>