@{
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/css/genre.css"  rel="stylesheet" />
    <link href="~/css/grid.css" rel="stylesheet">
    <link href="~/css/app.css" rel="stylesheet">
}
@model IEnumerable<Web_BTL.Models.Medias.MediaModel>
<!-- NAV -->
<partial name="Layouts/TopNav" />
<!-- END NAV -->

<div class="t-body-wrapper">
    <div class="t-body">
        <div class="t-header-and-movie-section">
            <div class="t-header-section">
                <div class="t-header-label">
                    MỚI CẬP NHẬT
                </div>
                <div class="t-menu">
                    <a href="@Url.Action("AllMedias","Genre")">Tất cả</a>
                    @foreach (var genre in ViewBag.Genre)
                        {
                        <a href="javascript:void(0)" onclick="filterMovies(@genre.GenreId)">
                            @genre.Type
                        </a>
                        }
                </div>
            </div>

            <div id="t-movie-section-wrapper">
                <partial name="Layouts/_MediaPartial" />

            </div>

            <div>
                <a href="#" class="t-btn-more">Xem Thêm...</a>
            </div>
        </div>

         <div class="t-header-and-movie-section">
            <div class="t-header-section">
                <div class="t-header-label">
                    PHIM BỘ ZZZ
                </div>
            </div>

            <div class="t-movie-section">
                @foreach (var item in Model)
                {
                    <a class="t-movie" href="#">

                        <img src="@item.MediaImagePath" alt="@item.MediaName">

                        <div class="t-movie-content">
                            <div class="t-movie-title">@item.MediaName</div>
                            <div class="t-movie-info">
                                <div>
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div>
                                    <i class="bx bxs-time"></i>
                                    <span>@item.MediaDuration</span>
                                </div>
                                <div>
                                    <span>@item.MediaQuality</span>
                                </div>
                                <div>
                                    <span>@item.MediaAgeRating</span>
                                </div>
                            </div>
                        </div>

                    </a>
                }
            </div>


            <div>
                <a href="#" class="t-btn-more">Xem Thêm...</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function filterMovies(genreId) {
            $.ajax({
                url: '@Url.Action("MoviesFilter", "Movies")',
                type: 'GET',
                data: { mid: genreId },  // Truyền ID thể loại khi người dùng bấm vào liên kết
                success: function (result) {
                    $('#t-movie-section-wrapper').html(result);  // Cập nhật danh sách phim
                }
            });
        }
    </script>
}