@using Web_BTL.Models.User.Customer
@model IEnumerable<CustomerModel>

<div class="container-fluid px-4">
    <div class="card mb-4">
        <div>
            <div class="card-header">
                List Films
            </div>
            <div class="card-body">
                <table id="tb" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Tên người dùng</th>
                            <th>Ngày tạo</th>
                            <th>Tên đăng nhập</th>
                            <th>Địa chỉ email</th>
                            <th>Ảnh</th>
                            <th>Gói</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in Model)
                        {
                            <tr style="position: relative">
                                <td>@c.UserName</td>
                                <td>@c.UserCreateDate</td>
                                <td>@c.UserLogin</td>
                                <td>@c.UserEmail</td>
                                <td>@c.UserImagePath</td>
                                <td>@c._ServicePackage</td>
                                <td>
                                    <a id="toggle-@c.CustomerId" href="javascript:void(0)" onclick="toggleUserState(@c.CustomerId)">
                                        @((c.UserState == true) ? "Hoạt động" : "Dừng hoạt động")
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function toggleUserState(customerid) {
            $.ajax({
                url: '/Admin/ToggleUserState',
                type: 'POST',
                data: { customerId: customerid },
                success: function (response) {
                    if (response.success) {
                        const link = document.getElementById('toggle-' + customerid);
                        link.textContent = response.newState ? "Hoạt động" : "Dừng hoạt động";
                    } else alert("Có lỗi xảy ra khi thay đổi trạng thái.");
                },
                error: function () {
                    alert("Có lỗi xảy ra khi gửi yêu cầu.");
                }
            });
        }
    </script>
}
