@using Web_BTL.Models.User
@using Web_BTL.Models.User.Admin
@using Web_BTL.Models.User.Customer
@model UserModel


<div class="container user-info-container">
    <h1 class="user-info-header">User Information</h1>
    <div class="row align-items-center justify-content-center">
        <!-- User Avatar -->
        <div class="col-md-4 text-center d-flex justify-content-center">
            <div class="user-avatar" id="image">
                <img id="avatarImg" src="@Url.Content("~/images/users/" + Model.UserImagePath)" alt="User Avatar">
                <a class="btn btn-outline-primary" data-action="SaveImage">edit</a>
            </div>
        </div>

        <!-- User Details -->
        <div class="col-md-6">
            <div class="user-details">
                <div id="name">
                    <span class="user-info-label">Full Name:</span>
                    <span id="fullName">@Model.UserName</span>
                    <a class="btn btn-outline-primary" data-action="EditName">edit</a>
                </div>
                <div>
                    <span class="user-info-label">Username:</span> @Model.UserLogin
                    
                </div>
                <div>
                    <span class="user-info-label">Email:</span> @Model.UserEmail
                </div>
                <div>
                    <span class="user-info-label">Account Created:</span> @Model.UserCreateDate
                </div>
                <!-- Mật khẩu -->
                <div id="password">
                    @if (ViewData.ModelState.IsValid) // kiểm tra xem ViewData.ModelState có được add thêm lỗi không
                    {
                        <a style="font: 10px" data-action="EditPassword">Change Password</a>
                    }else{
                        <span class="text-danger">@Html.ValidationMessage("ErrorPassword", "", new { @class = "text-danger" })</span>
                        @Html.Partial("EditPassword")
                    }
                </div>
                @if(Model is CustomerModel)
                {
                    var cus = (CustomerModel)Model;
                    <span class="user-info-label">Gói sử dụng: </span>@cus._ServicePackage
                }
                @if(Model is AdminModel){
                    var ad = (AdminModel)Model;
                    <span class="user-info-label">Quyền: </span>@ad.Role
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $("a").click(function (e) {
            e.preventDefault();
            var id = $(this).attr("id");
            var action = $(this).data("action");
            var url = "/User/";
            var tmp = "div#";
            if (action === "SaveImage") {
                url += "Image";
                tmp += "image"
            } else if (action === "EditName") {
                url += "Name";
                tmp += "name";
            } else if (action === "EditPassword") {
                url += "rPassword";
                tmp += "password";
            }
            $.ajax({
                url: url,
                success: function (response) {
                    $(tmp).html(response);
                }
            });
        });
        
    </script>
    
    @**@
}
